
/* general */
body {
    display:flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
    color: #faf9f8 ;
    margin: 0px;
    padding: 0px;
    flex-direction: column;
    flex:auto;
}
h3 {
    font-weight: 900;
    font-size: 24px;
    margin: 0px;
}
a {
    text-decoration: none;
    color: #e5e7eb ;
}
p {
 font-size: 14px;
}

.body-1, .body-2, .body-3,
.header {
    background-color: #1f2937;
    display:flex;
    flex: auto;
    flex-direction: column;
    align-items: space-evenly;
    min-height: 300px;
    margin: 0px;
    flex: auto;

}
/* Header/ section 1 */
.lower-header,
.upper-header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    gap: 10px;
}
.lower-header {

    justify-content: space-evenly;
}
    .left-header {
    font-weight: 900;
    font-size: 24px;
}
ul {
    display: flex;
    gap: 16px;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Lower part of section 1*/

button {
    border-radius: 10px;
    border-style: none;
    background-color: blue;
    color: #faf9f8;
    font-weight: 700;
    padding: 6px;
    height: 32px;
    width: 80px;
    flex: none;
}
.subtext {
    width: 300px
}
.image {
    border: 10px solid blue;
    min-width: 150px;

    border-radius: 32px;
}

/* Body/ section 2 */

.body-3,
.body-1 {

     background-color: #faf9f8 ;
     flex-direction: column;
     color: black;
     align-content: center;
     text-align: center;
    justify-content: center;
}
.information-boxes {
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}
.info {
    margin-top: 32px;
    min-width: 100px;
    flex-direction: column;
    align-content: center;
    display:flex;
    font-size: 10px;
}
.box {
    border: 5px solid blue;
    border-radius: 10px;
    height: 100px;
    width:100px;
}

/* Quotes/ section 3 */
.body-2 {

     background-color: #e5e7eb ;
 justify-content: center;
 align-items: center;
}
.body-2 .container {
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 48px;
    color: black;
    justify-content: center;
}

/* Call to action/ section 4 */
.body-3 .container{
    min-height: 50px;
    max-width: 700px;
    text-align: left;
    display: flex;
    flex-direction: row;
    padding: 20px;
    color: #faf9f8;
    border: 5px solid blue;
    background-color: blue;
    border-radius: 10px;
    align-self: center;
}
.body-3 .left {
display: flex;
width: 200;
flex-direction: column;
flex: auto;
padding-left: 20px;
}

.body-3 .right {

    border-radius: 10px;
    border: 3px solid #faf9f8;
    align-self: flex-end;
    margin-left: 8px;
}
h6 {
    display: flex;
    flex-direction: row-reverse;
}

/* footer/ section 5 */
.footer {
    display: flex;
    background-color:  #1f2937;
    color: #faf9f8;
    flex: auto;
    height: 50px;
    text-align: center;
    padding: 16px;
    justify-content: center;
    align-items: center;
}



